.pink-textarea textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
  }
  .active-pink-textarea.md-form label.active {
    color: #f48fb1;
  }
  .active-pink-textarea.md-form textarea.md-textarea:focus:not([readonly])+label {
    color: #f48fb1;
  }
  .ee {


    background-color: #04B4AE;
    height: 3cm;
  }
  .h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 2.5rem;
    font-weight: bold;
    color: #12ccc3;
    font-style: italic
}
  
  .amber-textarea textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ffa000;
    box-shadow: 0 1px 0 0 #ffa000;
  }
  .active-amber-textarea.md-form label.active {
    color: #ffa000;
  }
  .active-amber-textarea.md-form textarea.md-textarea:focus:not([readonly])+label {
    color: #ffa000;
  }
  
  
  .active-pink-textarea-2 textarea.md-textarea {
    border-bottom: 1px solid #54dfd3;
    box-shadow: 0 1px 0 0 #54dfd3;
  }
  .active-pink-textarea-2.md-form label.active {
    color: #f48fb1;
  }
  .active-pink-textarea-2.md-form label {
    color: #f48fb1;
  }
  .active-pink-textarea-2.md-form textarea.md-textarea:focus:not([readonly])+label {
    color: #f48fb1;
  }
  
  
  .active-amber-textarea-2 textarea.md-textarea {
    border-bottom: 1px solid #0059ff;
    box-shadow: 0 1px 0 0 #0026ff;
  }
  .active-amber-textarea-2.md-form label.active {
    color: #ffa000;
  }
  .active-amber-textarea-2.md-form label {
    color: #ffa000;
  }
  .active-amber-textarea-2.md-form textarea.md-textarea:focus:not([readonly])+label {
    color: #ffa000;
  }
